@import "../../../less/yawik.less";

@font-size-base: 14px;
@border-radius-base: 0px;
@headings-font-weight: 600;
@brand-primary: #2e5b93;
@footer-height: 49px;
@navbar-height: 80px;
@navbar-default-link-color: #fff;
@navbar-default-link-hover-color: #fff;
@navbar-default-link-hover-bg: transparent;
@navbar-default-bg: transparent;
@nav-link-hover-bg: transparent;
@navbar-inverse-toggle-hover-bg: transparent;

@link-color: #242424;
@link-hover-color: #242424;

@btn-primary-bg: #2e5b93;

@font-size-h2: 21px;
@font-size-h3: 14px;
@font-size-h4: 16px;
@font-size-h5: 14px;

html {
    height: 100%;
}

body {
  margin-top: 0;
  height: 100%;
}

.navbar-header {
    .menu-logo {
        width: 200px;
    }
}
#yk-login-info {
  float: left;
}
#main-navigation {
    height: 145px!important;
    font-weight: 600;


    ul li a.inverted {
        border: 1px solid #fff;
        background-color: transparent;
    }
    .navbar-nav>li>a {
    	padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 40px;
    }
    a {
        color: #fff;
    }
    a:hover {
        background-color: transparent;
    }
    .dropdown-menu>li>a {
        color: #22436c;
    }
}

.featured-image-box {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    position: relative;

    .img-box {
        height: 55px;
    }

    .yk-logo-sm {
        max-height: 55px;
        max-width: 150px;
    }

    .content-area {
        background-color: #ffffff;
        padding: 30px 20px;
    }
}

.img-box {
    background-color: #f4f7fa;
    display: block;
    margin: 0 auto;
    position: relative;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jobs-list-filter-wrapper {
    padding: 0 15px;

    .input-group {
        display: table;
        margin-left: auto;
    	margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    .search-form-container {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        z-index: 1;
        position: relative;
        color: #fff;
        padding: 20px 20px;
        margin-left: auto;
        display: table;
        width: 100%;
        margin-bottom: 30px;
        margin-right: auto;
        /* max-width: calc(66.66666667% + -43.33333333px); */
        max-width: 800px;
    }
}

.apply {
    bottom: 0;
    text-align: center;
    background: #ddd;
    line-height: 2em;
    position: absolute;
    width: 100%;
}

.yk-logo-sm {
  max-height: 80px;
  max-width: 200px;
}

#bg-full {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#wrapper {
    text-align: center;
    min-height: 600px;
    position: relative;
    height: 100%;
}

.bg-static {
    background-image: url(/Gastro24/background_gastrojob24_img.jpg);
    background-color: #999;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 100%;
    min-height: 600px;
}

.scroll-arrow {
    position: absolute;
    bottom: 30px;
    bottom: 3rem;
    right: 0;
    left: 0;
    width: 55px;
    width: 5.5rem;
    margin: auto;
    cursor: pointer;
    z-index: 1;
}

#header {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 2;
    background-image: linear-gradient( #121212, rgba(0, 0, 0, 0.001));
    .startpage {
        height: 350px!important;
    }
}

#form-jobsbymail-subscribe-form button.btn-info {
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: left top;
    overflow-x: hidden;
    top: 50%;
    right: -105px;
}

#footer {
    background-color: #243b84;
    padding: 25px 0;
    font-size: 15px;
    line-height: 24px;
    color: #b6bed6;

    nav ul li a {
        text-decoration: underline;
    }
    a {
        color: #b6bed6;
    }
    h5 {
        color: #fff;
    }
    hr {
        border-top: 1px solid #2e5b93;
    }
}

.carousel-indicators { bottom: -10px; }

.scroll-arrow {
    position: absolute;
    bottom: 30px;
    bottom: 3rem;
    right: 0;
    left: 0;
    width: 55px;
    width: 5.5rem;
    margin: auto;
    cursor: pointer;
    z-index: 1;

    .arrow-icon {
        position: relative;
        border: solid #fff;
        border-width: 0 5px 5px 0;
        border-width: 0 0.5rem 0.5rem 0;
        padding: 20px;
        padding: 2rem;
        display: inline-block;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-animation: pulse 4s infinite;
        -moz-animation: pulse 4s infinite;
        -o-animation: pulse 4s infinite;
        animation: pulse 4s infinite;
    }
    .scroll-arrow .arrow-icon:last-child {
        margin-top: -30px;
        margin-top: -3rem;
    }
}

.jumbotron {
    margin-top: 100px;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
    padding: 0;
    color: #fff;
    background-color: transparent;
    h1 {
        color: #fff;
        /* text-shadow: 0px 0px 11px #111; */
        font-size: 31px;
        font-weight: 300;
        letter-spacing: -1px;
    }
}

#searchform-wrapper {
    position: absolute;
}

.frame {
    padding-bottom: 85%;
    vertical-align: top;
    border: 1px solid #DDD;
    position: relative;
    min-height: 1px;
    img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 10px;
    }
}

h2 {
    color: #22436c;
    margin-bottom: 30px;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

h3 {
    color: #22436c;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;

}

.h6 {
    color: #22436c;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 14px;
}

main {
    ul {
        padding-left: 0;

        li {
            display: list-item;
            list-style: none;
            a {
                text-decoration: underline;
            }
        }
    }

    .region {
        text-align: center;

        h3 {
            display: none;
        }
        div {
            display: inline;
        }
        ul {
            display: inline;
            li {
                padding-left: 3px;
                padding-right: 3px;
                list-style: none;
                display: inline-block;
            }
        }
    }
}