@import "yawik/yawik.less";

@font-size-base: 14px;
@border-radius-base: 0px;
@headings-font-weight: 600;
@brand-primary: #2e5b93;
@footer-height: 49px;
@navbar-height: 80px;
@navbar-default-link-hover-color:  #242424;
@navbar-default-link-hover-bg: #ffffff;

@link-color: #242424;
@link-hover-color: #242424;




body {
  margin-top: 0;
}

.navbar-header {
    .menu-logo {
        width: 200px;
    }
}
#main-navigation {
    font-size: 16px;
    font-weight: 600;
}

.featured-image-box {
    border: 1px solid #ccc;
    margin-bottom: 30px;

    .content-area {
        background-color: #ffffff;
        padding: 30px 20px;
    }
}

.img-box {
    background-color: #f4f7fa;
    display: block;
    margin: 0 auto;
    position: relative;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

