@import "../../../less/yawik.less";

@font-size-base: 14px;
@border-radius-base: 0px;
@headings-font-weight: 600;
@brand-primary: #2e5b93;
@footer-height: 49px;
@navbar-height: 80px;
@navbar-default-link-hover-color:  #242424;
@navbar-default-link-hover-bg: #ffffff;

@link-color: #242424;
@link-hover-color: #242424;




body {
  margin-top: 0;
}

.navbar-header {
    .menu-logo {
        width: 200px;
    }
}
#main-navigation {
    font-size: 16px;
    font-weight: 600;
    ul li a.inverted {
      color: #fff;
      background-color: @brand-primary;
    }
}

.featured-image-box {
    border: 1px solid #ccc;
    margin-bottom: 30px;

    .content-area {
        background-color: #ffffff;
        padding: 30px 20px;
    }
}

.img-box {
    background-color: #f4f7fa;
    display: block;
    margin: 0 auto;
    position: relative;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jobs-list-filter-wrapper {
    background: rgba(60, 146, 202, 0.7) no-repeat scroll center center / cover;

    .input-group {
        display: table;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
    	margin-right: auto;
    }
    .search-form-container {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 3px 0 0 3px;
        color: #fff;
        padding: 20px 20px;
        margin-left: auto;
	display: table;
	margin-top: 30px;
	width: 50%;
	margin-bottom: 30px;
    	margin-right: auto;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    }

}

.yk-logo-sm {
  max-height: 80px;
  max-width: 200px;
}
