*~
build.properties
view/.*
public/Gastro24.css
.idea

vendor/
node_modules/
dist/

public/templates/classic/job.css
public/templates/default/job.css
public/templates/modern/job.css
public/layout.css

test/sandbox/.env

test/sandbox/config/autoload/yawik.config.global.php
test/sandbox/config/autoload/landingpages.config.global.php
test/sandbox/config/autoload/mail-service.global.php
deployer.phar
.env