<?php
/**
 * YAWIK
 *
 * @filesource
 * @license MIT
 * @copyright  2013 - 2017 Cross Solution <http://cross-solution.de>
 */

 /*
  * Diese Datei wird in das config/autoload Verzeichnis kopiert und dort bearbeitet
  */

$options = [
   
    'zuerich' => [

    
        'text' => 'Zürich'
        'id' => 2,
         query' => [ 'q' => 'Zürich', 'region_MultiString' => ['Zürich' => 1]],
        'tab' => 'Jobs nach Städte',
        'panel' => 'Panel 1',
    ],

    'diaetkoch' => [
          'id' => 159,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Küchen Jobs',
          'text' => 'Diätkoch / Diätköchin'
     ],
	'kuechenchef' => [
          'id' => 161,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Küchen Jobs',
          'text' => 'Küchenchef/-in'
     ],
	'sous-chef' => [
          'id' => 163,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Küchen Jobs',
          'text' => 'Sous Chef'
     ],
	'jungkoch' => [
          'id' => 165,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Küchen Jobs',
          'text' => 'Jungkoch / Jungköchin'
     ],
	'koch' => [
          'id' => 167,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Küchen Jobs',
          'text' => 'Koch / Köchin'
     ],
	'hilfskoch' => [
          'id' => 169,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Küchen Jobs',
          'text' => 'Hilfskoch / Hilfsköchin'
     ],
	'alleinkoch' => [
          'id' => 171,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Küchen Jobs',
          'text' => 'Alleinkoch / Alleinköchin'
     ],

	'konditor-confiseur' => [
          'id' => 175,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Lebensmittel Jobs',
          'text' => 'Konditor / Confiseur'
     ],
	'baecker' => [
          'id' => 177,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Lebensmittel Jobs',
          'text' => 'Bäcker/-in'
     ],	
	 'metzger' => [
          'id' => 179,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Lebensmittel Jobs',
          'text' => 'Metzger/-in'
     ],	
	 'ernaehrungsberater' => [
          'id' => 181,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Lebensmittel Jobs',
          'text' => 'Ernährungsberater/-in'
     ],	
	 'lebesmitteltechnologe' => [
          'id' => 183,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Lebensmittel Jobs',
          'text' => 'Lebensmitteltechnologe / Lebensmitteltechnologin'
     ],	
	 'lebensmittelinspektor' => [
          'id' => 185,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Lebensmittel Jobs',
          'text' => 'Lebensmittelinspektor/-in'
     ],
	 'restaurationsfachmann' => [
          'id' => 189,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Service & Restaurant Jobs',
          'text' => 'Restaurationsfachmann / Restaurationsfachfrau'
     ], 
	 'servicemitarbeiter' => [
          'id' => 191,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Service & Restaurant Jobs',
          'text' => 'Servicemitarbeiter/-in'
     ],
	  'chef-de-rang' => [
          'id' => 193,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Service & Restaurant Jobs',
          'text' => 'Chef de Rang'
     ],
	 'barkeeper' => [
          'id' => 195,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Service & Restaurant Jobs',
          'text' => 'Barkeeper'
     ],
	  'barista' => [
          'id' => 197,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Service & Restaurant Jobs',
          'text' => 'Barista'
     ],
	  'restaurant-manager' => [
          'id' => 199,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Service & Restaurant Jobs',
          'text' => 'Restaurant Manager/-in'
     ],
	  'sommelier' => [
          'id' => 201,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Service & Restaurant Jobs',
          'text' => 'Sommelier / Sommelière'
     ], 
	 'hotelfachmann' => [
          'id' => 205,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Hotel Jobs',
          'text' => 'Hotelfachmann / Hotelfachfrau'
     ],
	  'wellness-spa-beauty' => [
          'id' => 209,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Hotel Jobs',
          'text' => 'Wellness / Spa & Beauty'
     ],
	  'hoteldirektion' => [
          'id' => 211,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Hotel Jobs',
          'text' => 'Hoteldirektion / Hotelleitung'
     ],
	  'concierge-room-service' => [
          'id' => 213,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Hotel Jobs',
          'text' => 'Concierge / Room Service'
     ],
	  'housekeeping-zimmermaedchen' => [
          'id' => 215,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Hotel Jobs',
          'text' => 'Housekeeping / Zimmermädchen'
     ],
	  'hauswirtschaft' => [
          'id' => 217,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Hotel Jobs',
          'text' => 'Hauswirtschaft / Wäscherei'
     ],
	  'rezeption-hotelempfang' => [
          'id' => 219,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Hotel Jobs',
          'text' => 'Rezeption / Hotelempfang'
     ],	 
	 'marketing-sales' => [
          'id' => 233,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Tourismus & Administration Jobs',
          'text' => 'Marketing / Sales'
     ],
	  'administration-back-office' => [
          'id' => 225,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Tourismus & Administration Jobs',
          'text' => 'Administration / Back Office'
     ],
	  'reisefuehrer-tourguide' => [
          'id' => 227,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Tourismus & Administration Jobs',
          'text' => 'Reiseführer / Tour Guide'
     ],
	  'kreuzfahrt' => [
          'id' => 229,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Tourismus & Administration Jobs',
          'text' => 'Kreuzfahrt'
     ],
	  'animation-entertainment' => [
          'id' => 231,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Tourismus & Administration Jobs',
          'text' => 'Animation / Entertainment'
     ],
	  'casino' => [
          'id' => 233,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Tourismus & Administration Jobs',
          'text' => 'Casino'
     ],
	  'fitness' => [
          'id' => 235,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Tourismus & Administration Jobs',
          'text' => 'Fitness'
     ],
	  'studenten' => [
          'id' => 239,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Aushilfe & Saison Jobs',
          'text' => 'Studenten'
     ],
	  'hilfskraefte' => [
          'id' => 241,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Aushilfe & Saison Jobs',
          'text' => 'Hilfskräfte'
     ],
	  'teilzeit' => [
          'id' => 243,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Aushilfe & Saison Jobs',
          'text' => 'Teilzeit'
     ],
	  'saison' => [
          'id' => 245,
          'tab' => 'Jobs nach Berufsfelder',
          'panel' => 'Aushilfe & Saison Jobs',
          'text' => 'Saison'
     ],
    'konditor-bei-spruengli' => [ 
          'id' => 48,
          'text' => 'Konditor/in bei Sprüngli',
          'panel' => 'Konditor',
          'query' => [ 'q' => 'konditor', 'organizationTag' => ['Spruengli' => 1]],
          'tab' => 'Firmen'
     ],


];


/* Do not edit below this line */

return [ 'options' => [ \Gastro24\Options\Landingpages::class => [ $options ] ]];
