<?php
/**
 * YAWIK
 *
 * @filesource
 * @license MIT
 * @copyright  2013 - 2017 Cross Solution <http://cross-solution.de>
 */

 /*
  * Diese Datei wird in das config/autoload Verzeichnis kopiert und dort bearbeitet
  */

$options = [



    'koch' => [
        'text' => 'Koch/Chefkoch',
        'id' => 7,
        'tab' => 'Kategorie',
        'panel' => 'Küche',
    ],


    'cuisinier' => [
        'id' => 23,
        'text' => 'Cuisinier',
        'tab' => 'Kategorie',
        'panel' => 'Küche',
    ],

    /*
     * 1. Landingpage
     * Eindeutiger Schlüssel einer Landingpage. Der Schlüssel der Landingpage wird für die Generierung
     * der URL herangezogen. Hier: de/jobs/hotelfachmann.html
     */
    'hotelfachmann' => [

        /*
         * Link text 
         */
        'text' => 'Hotelfachmann',

        /*
         * ID der Wordpress Seite
         */
        'id' => 2,

        /*
         * optionale Suchanfrage. Der Parameter p ist die Volltextsuche. Der Parameter "region_MultiString" ist
         * die Region. Wenn kein Wert für "query" angegeben ist, wird nach dem Schlüssel der Landingpage gesucht.
         */
        'query' => [ 'q' => 'Koch OR Chefkoch', 'region_MultiString' => ['Niedersachsen' => 1]],

        /*
         * Überschrift im Tab
         */
        'tab' => 'Regionen',

        /*
         * Überschrift im Pannel
         */
        'panel' => 'Gastronomie in Niedersachsen',
    ],

    /*
     * Weitere Landingpage Suordnungen
     */
    'barkeeper' => [
          'id' => 43,
          'tab' => 'Kategorie',
          'panel' => 'Bar',
          'text' => 'Barkeeper'
     ],

    'rezeption' => [ 
          'id' => 45,
          'text' => 'Rezeptionist',
          'panel' => 'In Zürich',
          'tab' => 'Regionen' 
     ],

    'konditor-bei-spruengli' => [ 
          'id' => 48,
          'text' => 'Konditor/in bei Sprüngli',
          'panel' => 'Konditor',
          'query' => [ 'q' => 'konditor', 'organizationTag' => ['Spruengli' => 1]],
          'tab' => 'Firmen'
     ],


];


/* Do not edit below this line */

return [ 'options' => [ \Gastro24\Options\Landingpages::class => [ $options ] ]];
